   
   
  
    body {
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgb(255,69,0),rgb(124, 218, 36));
    background-repeat:no-repeat;
    background-size:cover;
    font-family:"Times New Roman", Times, serif;
    line-height: 1.5;
    color: #333;
}
 
 

.website-header {
    background-color:rgb(0,85,153,0.9);
    position:fixed;
    width:100%;
    height:12vh;
}
  

.grid-x {
    display: block;
    padding: 20px 3% 25px;
     width: 79.6%;
     margin: auto;
    margin-top:120px;
    
    
}
     
     .padded-header{
          
    padding: 0 9%;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 1.2rem;
    text-shadow:2px 2px 3px orange;
     }
     .blue-stripe{
    padding: 10px 0;
    font-size: 0.8em;
    background-color:#059;
    #background: linear-gradient(rgb(0 85 153), rgb(10 85 153 / 70%));
    color: orange;
    text-align: center;
    line-height: 0.05em;
    text-transform: uppercase;
    width: 85.6%;
    margin: auto;
    border: 1px solid black;
    border-radius:25px 25px 0 0;
    text-shadow:2px 2px 3px black;         
}

.blue-stripe a{
   
    color: #fff;
    
         
         
}
     section{
        
         position: relative;
         width: 86%;
         max-width: 1294px;
         border:5px solid black;
         border-radius:0 0 10px 10px;
         margin:auto;
         height:60vh;
         overflow-y:auto;
         margin-bottom:20px;    
     }
    .cell {
    width: 24%;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
     
     .grid{
         display:inline-block;
         margin-left: 7.24%;
         background: #fff;
         margin-bottom: 20px; 
     }
     
     
     .footer{
         
         text-align:  center;
         padding-top: 10px;
         color: white;
         padding-bottom: 10px;
         background-color: #059;
         
     }
     
     .footer a{
         
         margin-left: 10px;
     
     padding-bottom: 10px;
         color: #fff;
         
     }
     
   
     
     

  
   
a {
    background-color: transparent;
    color: #059;
    text-decoration: none;
    cursor: pointer;
}
     .image-block {
    position: relative;
    display: block;
    color: #333;
    margin-bottom: 1rem;
}
    
     .image-block img {
    width: 100%;
}

img {
    border-style: none;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
 .image-block h3 {
    font-size: 20px;
    color: #fff;
    padding: 10px 0 6px 10px;
    margin-bottom: 0;
    position: relative;
    margin-top: -45px;
    bottom: 0;
    background: rgba(0,0,0,.7);
}
    
    p {
    margin-bottom: 0.7rem;
    font-size: inherit;
    line-height: 1.3em;
    text-shadow:2px 2px 3px black;
}
  


.site-nav{
    
    float: left;
    border-radius: 5px;
    width: 15%;
    margin-right: 10px;
    padding-bottom: 8px;
    
}

.site-nav a{
    
    display: block;
    width: 100%;
    height: 30px;
    margin: 0 0 5px 0;
    padding: 5px 0 0 0;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    background-color: #059;
    background: linear-gradient(rgb(0 85 153), rgb(10 85 153 / 70%));
    border-radius: 3px;
    
    
}

.site-nav a:hover{
    
    
    background-color: #059;
    
    
    
}

.site-nav li{

    list-style: none;
    padding: 0 15px 0 15px;
    margin: 0;
}

.site_nav ul{
    margin: auto;
    padding:auto;
    

}
 

ul{
    display: block;
    margin: 0px;
    padding: 0px;
    

}
    
.content{
   width: 66.5%; 
        border-radius: 5px;
    padding: 10px 20px;

        margin-left: 10px;

    
} 

.content ul{
    
    list-style:square;
    padding: 0 15px 0 15px;
    margin: 0;
    
}

.content img{
    
    margin-top: -10px;
    
}
    
.container{
    
   width: 100%;
    margin: auto;
    
}
span{
   text-shadow: 1px 1px 1px yellow;
}
img:hover{
    padding:2px 2px 2px 2px;
    margin-top: -15px;
    background: rgba(0,0,0,.5);
}

     
   